<div class="side_bar_header">
  <div class="header_name">
    <a href="#">name</a>
  </div>
  <div class="create_room">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="rooms">
  <div class="room_name">
    <a href="#">room1</a>
  </div>
  <div class="room_name">
    <a href="#">room2</a>
  </div>
</div>
