.wrapper {
  display: flex;
}

.side_bar {
  width: 300px;
  height: 100vh;
}

.side_bar_header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create_room {
  font-size: 10px;
  
}

.create_room a {
  padding: 14px;
  text-decoration: none;
  color: deepskyblue;
  border: 1px solid lightblue;
}

.rooms {
  height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2f3e51;
  overflow: scroll;
}

.room_name {
  padding: 20px 0 40px;
}

.room_name a {
  color: white;
  text-decoration: none;
}

.chat {
  width: calc(100% - 300px);
}

.chat_header {
  height: 100px;
  padding: 0 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.header_room_name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.delete_room {
  margin-top: 40px;
}

.delete_room a {
  padding: 20px;
  border: 1px solid darkred;
  color: darkred;
  text-decoration: none;
}

.messages {
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  background-color: #fafafa;
  overflow: scroll;
}

.message {
  margin: 10px 0;
}

.upper_message {
  display: flex;
}

.message_user {
  font-size: 16px;
  color: #434a54;
}

.message_date {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.lower_message {
  margin-top: 10px;
}

.message_content {
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #dddddd;
  display: flex;
  box-sizing: border-box;
}

.form_input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form_message {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: none;
}

.form_submit {
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  font-size: 16px;
  border: none;
}

.form_image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}